In [1]:
import pandas as pd
import numpy as np
# by default, pandas only shows the beginning and end of a large dataframe
# You can choose how many rows and columns to show.
# If you want to see all of the rows, set the respective value to None
pd.options.display.max_rows = 100 
pd.options.display.max_columns = 50

In [5]:
# URL for data hosted online
cases_url = 'https://raw.githubusercontent.com/nytimes/covid-19-data/master/us-states.csv' 
cases_df = pd.read_csv(cases_url, index_col='date') # create a dataframe from a csv, set the column titled "Index" as the row labels

In [8]:
# URL for data hosted online
areas_url = 'https://raw.githubusercontent.com/bwsi-remote-sensing-2021/group3_pandasproject/main/stateareas2010.csv' 
areas_df = pd.read_csv(areas_url, index_col='state') # create a dataframe from a csv, set the column titled "Index" as the row labels

In [10]:
cases_df

                    state  fips   cases  deaths
date
2020-01-21     Washington    53       1       0
2020-01-22     Washington    53       1       0
2020-01-23     Washington    53       1       0
2020-01-24       Illinois    17       1       0
2020-01-24     Washington    53       1       0
...                   ...   ...     ...     ...
2021-07-09       Virginia    51  682147   11448
2021-07-09     Washington    53  457092    6050
2021-07-09  West Virginia    54  164465    2908
2021-07-09      Wisconsin    55  678815    8182
2021-07-09        Wyoming    56   62966     751

[27184 rows x 4 columns]

In [43]:
cases_df = cases_df.sort_values('date', ascending=False)
cases_df = cases_df[(cases_df.state != 'Virgin Islands') | (cases_df.state != 'Northern Mariana Islands')\
                    | (cases_df.state != 'Guam')]
cases_df = cases_df.head(52)
cases_df

                           state  fips    cases  deaths
date
2021-07-09               Wyoming    56    62966     751
2021-07-09               Montana    30   114348    1673
2021-07-09              Nebraska    31   225171    2524
2021-07-09           Puerto Rico    72   174126    2553
2021-07-09                Nevada    32   338072    5720
2021-07-09         West Virginia    54   164465    2908
2021-07-09            Washington    53   457092    6050
2021-07-09              Virginia    51   682147   11448
2021-07-09               Vermont    50    24457     258
2021-07-09                  Utah    49   419047    2393
2021-07-09                 Texas    48  3009125   52751
2021-07-09             Tennessee    47   856843   12508
2021-07-09          South Dakota    46   124641    2039
2021-07-09        South Carolina    45   598918    9846
2021-07-09          Rhode Island    44   152729    2730
2021-07-09             Wisconsin    55   678815    8182
2021-07-09          Pennsylvania    42  1218291   27779
2021-07-09          North Dakota    38   110852    1563
2021-07-09         New Hampshire    33    99708    1375
2021-07-09            New Jersey    34  1025477   26496
2021-07-09            New Mexico    35   206252    4356
2021-07-09        North Carolina    37  1018499   13496
2021-07-09              New York    36  2117024   53142
2021-07-09                  Ohio    39  1113737   20380
2021-07-09              Oklahoma    40   460682    7406
2021-07-09              Illinois    17  1399525   25755
2021-07-09              Missouri    29   646318   10009
2021-07-09               Alabama     1   554071   11398
2021-07-09               Indiana    18   760422   13914
2021-07-09           Mississippi    28   324057    7439
2021-07-09             Minnesota    27   606390    7715
2021-07-09              Michigan    26  1000327   21045
2021-07-09         Massachusetts    25   710830   18011
2021-07-09              Maryland    24   463197    9761
2021-07-09                 Maine    23    69201     862
2021-07-09             Louisiana    22   487558   10781
2021-07-09              Kentucky    21   467690    7301
2021-07-09                Kansas    20   321812    5208
2021-07-09                  Iowa    19   374358    6149
2021-07-09                 Idaho    16   195910    2167
2021-07-09                Alaska     2    71118     362
2021-07-09                Hawaii    15    36834     516
2021-07-09               Georgia    13  1114789   20791
2021-07-09               Florida    12  2361360   38157
2021-07-09  District of Columbia    11    49455    1143
2021-07-09              Delaware    10   109986    1695
2021-07-09           Connecticut     9   349969    8279
2021-07-09              Colorado     8   564891    6984
2021-07-09            California     6  3832085   63474
2021-07-09              Arkansas     5   355460    5948
2021-07-09               Arizona     4   899829   18009
2021-07-09                Oregon    41   210287    2822

In [48]:
areas_with_cases = cases_df.merge(areas_df, how='left',
                               left_on='state', right_index=True)
areas_with_cases = areas_with_cases.sort_values('cases',ascending=False)
areas_with_cases

,state,fips,cases,deaths,square miles,square kilometers
date,,,,,,
2021-07-09,California,6,3832085,63474,"163,695","423,967"
2021-07-09,Texas,48,3009125,52751,"268,596","695,662"
2021-07-09,Florida,12,2361360,38157,"65,758","170,312"
2021-07-09,New York,36,2117024,53142,"54,555","141,297"
2021-07-09,Illinois,17,1399525,25755,"57,914","149,995"
2021-07-09,Pennsylvania,42,1218291,27779,"46,054","119,280"
2021-07-09,Georgia,13,1114789,20791,"59,425","153,910"
2021-07-09,Ohio,39,1113737,20380,"44,826","116,098"
2021-07-09,New Jersey,34,1025477,26496,"8,723","22,591"
2021-07-09,North Carolina,37,1018499,13496,"53,819","139,391"
2021-07-09,Michigan,26,1000327,21045,"96,714","250,487"
2021-07-09,Arizona,4,899829,18009,"113,990","295,234"
2021-07-09,Tennessee,47,856843,12508,"42,144","109,153"
2021-07-09,Indiana,18,760422,13914,"36,420","94,326"
2021-07-09,Massachusetts,25,710830,18011,"10,554","27,336"
2021-07-09,Virginia,51,682147,11448,"42,775","110,787"
2021-07-09,Wisconsin,55,678815,8182,"65,496","169,635"
2021-07-09,Missouri,29,646318,10009,"69,707","180,540"
2021-07-09,Minnesota,27,606390,7715,"86,936","225,163"
2021-07-09,South Carolina,45,598918,9846,"32,020","82,933"
2021-07-09,Colorado,8,564891,6984,"104,094","269,601"
2021-07-09,Alabama,1,554071,11398,"52,420","135,767"
2021-07-09,Louisiana,22,487558,10781,"52,378","135,659"
2021-07-09,Kentucky,21,467690,7301,"40,408","104,656"
2021-07-09,Maryland,24,463197,9761,"12,406","32,131"
2021-07-09,Oklahoma,40,460682,7406,"69,899","181,037"
2021-07-09,Washington,53,457092,6050,"71,298","184,661"
2021-07-09,Utah,49,419047,2393,"84,897","219,882"
2021-07-09,Iowa,19,374358,6149,"56,273","145,746"
2021-07-09,Arkansas,5,355460,5948,"53,179","137,732"
2021-07-09,Connecticut,9,349969,8279,"5,543","14,357"
2021-07-09,Nevada,32,338072,5720,"110,572","286,380"
2021-07-09,Mississippi,28,324057,7439,"48,432","125,438"
2021-07-09,Kansas,20,321812,5208,"82,278","213,100"
2021-07-09,Nebraska,31,225171,2524,"77,348","200,330"
2021-07-09,Oregon,41,210287,2822,"98,379","254,799"
2021-07-09,New Mexico,35,206252,4356,"121,590","314,917"
2021-07-09,Idaho,16,195910,2167,"83,569","216,443"
2021-07-09,Puerto Rico,72,174126,2553,"5,325","13,791"
2021-07-09,West Virginia,54,164465,2908,"24,230","62,756"
2021-07-09,Rhode Island,44,152729,2730,"1,545","4,001"
2021-07-09,South Dakota,46,124641,2039,"77,116","199,729"
2021-07-09,Montana,30,114348,1673,"147,040","380,831"
2021-07-09,North Dakota,38,110852,1563,"70,698","183,108"
2021-07-09,Delaware,10,109986,1695,"2,489","6,446"
2021-07-09,New Hampshire,33,99708,1375,"9,349","24,214"
2021-07-09,Alaska,2,71118,362,"665,384","1,723,337"
2021-07-09,Maine,23,69201,862,"35,380","91,633"
2021-07-09,Wyoming,56,62966,751,"97,813","253,335"
2021-07-09,District of Columbia,11,49455,1143,68,177
2021-07-09,Hawaii,15,36834,516,"10,932","28,313"
2021-07-09,Vermont,50,24457,258,"9,616","24,906"

In [ ]:
ratio = areas_with_cases['cases'] / areas_with_cases['square miles']

ERROR:root:Internal Python error in the inspect module.
Below is the traceback from this internal error.

ERROR:root:Internal Python error in the inspect module.
Below is the traceback from this internal error.

ERROR:root:Internal Python error in the inspect module.
Below is the traceback from this internal error.

Traceback (most recent call last):
  File "/opt/conda/lib/python3.8/site-packages/pandas/core/ops/array_ops.py", line 142, in _na_arithmetic_op
    result = expressions.evaluate(op, left, right)
  File "/opt/conda/lib/python3.8/site-packages/pandas/core/computation/expressions.py", line 235, in evaluate
    return _evaluate(op, op_str, a, b)  # type: ignore[misc]
  File "/opt/conda/lib/python3.8/site-packages/pandas/core/computation/expressions.py", line 120, in _evaluate_numexpr
    result = _evaluate_standard(op, op_str, a, b)
  File "/opt/conda/lib/python3.8/site-packages/pandas/core/computation/expressions.py", line 69, in _evaluate_standard
    return op(a, b)
TypeError: unsupported operand type(s) for /: 'int' and 'str'

During handling of the above exception, another exception occurred:

Traceback (most recent call last):
  File "/opt/conda/lib/python3.8/site-packages/IPython/core/interactiveshell.py", line 3441, in run_code
    exec(code_obj, self.user_global_ns, self.user_ns)
  File "<ipython-input-49-5de320fd2797>", line 1, in <module>
    ratio = areas_with_cases['cases'] / areas_with_cases['square miles']
  File "/opt/conda/lib/python3.8/site-packages/pandas/core/ops/common.py", line 65, in new_method
    return method(self, other)
  File "/opt/conda/lib/python3.8/site-packages/pandas/core/arraylike.py", line 113, in __truediv__
    return self._arith_method(other, operator.truediv)
  File "/opt/conda/lib/python3.8/site-packages/pandas/core/series.py", line 4998, in _arith_method
    result = ops.arithmetic_op(lvalues, rvalues, op)
  File "/opt/conda/lib/python3.8/site-packages/pandas/core/ops/array_ops.py", line 189, in arithmetic_op
    res_values = _na_arithmetic_op(lvalues, rvalues, op)
  File "/opt/conda/lib/python3.8/site-packages/pandas/core/ops/array_ops.py", line 149, in _na_arithmetic_op
    result = _masked_arith_op(left, right, op)
  File "/opt/conda/lib/python3.8/site-packages/pandas/core/ops/array_ops.py", line 91, in _masked_arith_op
    result[mask] = op(xrav[mask], yrav[mask])
TypeError: unsupported operand type(s) for /: 'int' and 'str'

During handling of the above exception, another exception occurred:

Traceback (most recent call last):
  File "/opt/conda/lib/python3.8/site-packages/IPython/core/interactiveshell.py", line 2061, in showtraceback
    stb = value._render_traceback_()
AttributeError: 'TypeError' object has no attribute '_render_traceback_'

During handling of the above exception, another exception occurred:

Traceback (most recent call last):
  File "/opt/conda/lib/python3.8/site-packages/IPython/core/ultratb.py", line 1101, in get_records
    return _fixed_getinnerframes(etb, number_of_lines_of_context, tb_offset)
  File "/opt/conda/lib/python3.8/site-packages/IPython/core/ultratb.py", line 248, in wrapped
    return f(*args, **kwargs)
  File "/opt/conda/lib/python3.8/site-packages/IPython/core/ultratb.py", line 281, in _fixed_getinnerframes
    records = fix_frame_records_filenames(inspect.getinnerframes(etb, context))
  File "/opt/conda/lib/python3.8/inspect.py", line 1515, in getinnerframes
    frameinfo = (tb.tb_frame,) + getframeinfo(tb, context)
  File "/opt/conda/lib/python3.8/inspect.py", line 1473, in getframeinfo
    filename = getsourcefile(frame) or getfile(frame)
  File "/opt/conda/lib/python3.8/inspect.py", line 708, in getsourcefile
    if getattr(getmodule(object, filename), '__loader__', None) is not None:
  File "/opt/conda/lib/python3.8/inspect.py", line 737, in getmodule
    file = getabsfile(object, _filename)
  File "/opt/conda/lib/python3.8/inspect.py", line 721, in getabsfile
    return os.path.normcase(os.path.abspath(_filename))
  File "/opt/conda/lib/python3.8/posixpath.py", line 379, in abspath
    cwd = os.getcwd()
FileNotFoundError: [Errno 2] No such file or directory
Traceback (most recent call last):
  File "/opt/conda/lib/python3.8/site-packages/pandas/core/ops/array_ops.py", line 142, in _na_arithmetic_op
    result = expressions.evaluate(op, left, right)
  File "/opt/conda/lib/python3.8/site-packages/pandas/core/computation/expressions.py", line 235, in evaluate
    return _evaluate(op, op_str, a, b)  # type: ignore[misc]
  File "/opt/conda/lib/python3.8/site-packages/pandas/core/computation/expressions.py", line 120, in _evaluate_numexpr
    result = _evaluate_standard(op, op_str, a, b)
  File "/opt/conda/lib/python3.8/site-packages/pandas/core/computation/expressions.py", line 69, in _evaluate_standard
    return op(a, b)
TypeError: unsupported operand type(s) for /: 'int' and 'str'

During handling of the above exception, another exception occurred:

Traceback (most recent call last):
  File "/opt/conda/lib/python3.8/site-packages/IPython/core/interactiveshell.py", line 3441, in run_code
    exec(code_obj, self.user_global_ns, self.user_ns)
  File "<ipython-input-49-5de320fd2797>", line 1, in <module>
    ratio = areas_with_cases['cases'] / areas_with_cases['square miles']
  File "/opt/conda/lib/python3.8/site-packages/pandas/core/ops/common.py", line 65, in new_method
    return method(self, other)
  File "/opt/conda/lib/python3.8/site-packages/pandas/core/arraylike.py", line 113, in __truediv__
    return self._arith_method(other, operator.truediv)
  File "/opt/conda/lib/python3.8/site-packages/pandas/core/series.py", line 4998, in _arith_method
    result = ops.arithmetic_op(lvalues, rvalues, op)
  File "/opt/conda/lib/python3.8/site-packages/pandas/core/ops/array_ops.py", line 189, in arithmetic_op
    res_values = _na_arithmetic_op(lvalues, rvalues, op)
  File "/opt/conda/lib/python3.8/site-packages/pandas/core/ops/array_ops.py", line 149, in _na_arithmetic_op
    result = _masked_arith_op(left, right, op)
  File "/opt/conda/lib/python3.8/site-packages/pandas/core/ops/array_ops.py", line 91, in _masked_arith_op
    result[mask] = op(xrav[mask], yrav[mask])
TypeError: unsupported operand type(s) for /: 'int' and 'str'

During handling of the above exception, another exception occurred:

Traceback (most recent call last):
  File "/opt/conda/lib/python3.8/site-packages/IPython/core/interactiveshell.py", line 2061, in showtraceback
    stb = value._render_traceback_()
AttributeError: 'TypeError' object has no attribute '_render_traceback_'

During handling of the above exception, another exception occurred:

Traceback (most recent call last):
  File "/opt/conda/lib/python3.8/site-packages/IPython/core/interactiveshell.py", line 3361, in run_ast_nodes
    if (await self.run_code(code, result,  async_=asy)):
  File "/opt/conda/lib/python3.8/site-packages/IPython/core/interactiveshell.py", line 3458, in run_code
    self.showtraceback(running_compiled_code=True)
  File "/opt/conda/lib/python3.8/site-packages/IPython/core/interactiveshell.py", line 2063, in showtraceback
    stb = self.InteractiveTB.structured_traceback(etype,
  File "/opt/conda/lib/python3.8/site-packages/IPython/core/ultratb.py", line 1367, in structured_traceback
    return FormattedTB.structured_traceback(
  File "/opt/conda/lib/python3.8/site-packages/IPython/core/ultratb.py", line 1267, in structured_traceback
    return VerboseTB.structured_traceback(
  File "/opt/conda/lib/python3.8/site-packages/IPython/core/ultratb.py", line 1124, in structured_traceback
    formatted_exception = self.format_exception_as_a_whole(etype, evalue, etb, number_of_lines_of_context,
  File "/opt/conda/lib/python3.8/site-packages/IPython/core/ultratb.py", line 1082, in format_exception_as_a_whole
    last_unique, recursion_repeat = find_recursion(orig_etype, evalue, records)
  File "/opt/conda/lib/python3.8/site-packages/IPython/core/ultratb.py", line 382, in find_recursion
    return len(records), 0
TypeError: object of type 'NoneType' has no len()

During handling of the above exception, another exception occurred:

Traceback (most recent call last):
  File "/opt/conda/lib/python3.8/site-packages/IPython/core/interactiveshell.py", line 2061, in showtraceback
    stb = value._render_traceback_()
AttributeError: 'TypeError' object has no attribute '_render_traceback_'

During handling of the above exception, another exception occurred:

Traceback (most recent call last):
  File "/opt/conda/lib/python3.8/site-packages/IPython/core/ultratb.py", line 1101, in get_records
    return _fixed_getinnerframes(etb, number_of_lines_of_context, tb_offset)
  File "/opt/conda/lib/python3.8/site-packages/IPython/core/ultratb.py", line 248, in wrapped
    return f(*args, **kwargs)
  File "/opt/conda/lib/python3.8/site-packages/IPython/core/ultratb.py", line 281, in _fixed_getinnerframes
    records = fix_frame_records_filenames(inspect.getinnerframes(etb, context))
  File "/opt/conda/lib/python3.8/inspect.py", line 1515, in getinnerframes
    frameinfo = (tb.tb_frame,) + getframeinfo(tb, context)
  File "/opt/conda/lib/python3.8/inspect.py", line 1473, in getframeinfo
    filename = getsourcefile(frame) or getfile(frame)
  File "/opt/conda/lib/python3.8/inspect.py", line 708, in getsourcefile
    if getattr(getmodule(object, filename), '__loader__', None) is not None:
  File "/opt/conda/lib/python3.8/inspect.py", line 737, in getmodule
    file = getabsfile(object, _filename)
  File "/opt/conda/lib/python3.8/inspect.py", line 721, in getabsfile
    return os.path.normcase(os.path.abspath(_filename))
  File "/opt/conda/lib/python3.8/posixpath.py", line 379, in abspath
    cwd = os.getcwd()
FileNotFoundError: [Errno 2] No such file or directory
Traceback (most recent call last):
  File "/opt/conda/lib/python3.8/site-packages/pandas/core/ops/array_ops.py", line 142, in _na_arithmetic_op
    result = expressions.evaluate(op, left, right)
  File "/opt/conda/lib/python3.8/site-packages/pandas/core/computation/expressions.py", line 235, in evaluate
    return _evaluate(op, op_str, a, b)  # type: ignore[misc]
  File "/opt/conda/lib/python3.8/site-packages/pandas/core/computation/expressions.py", line 120, in _evaluate_numexpr
    result = _evaluate_standard(op, op_str, a, b)
  File "/opt/conda/lib/python3.8/site-packages/pandas/core/computation/expressions.py", line 69, in _evaluate_standard
    return op(a, b)
TypeError: unsupported operand type(s) for /: 'int' and 'str'

During handling of the above exception, another exception occurred:

Traceback (most recent call last):
  File "/opt/conda/lib/python3.8/site-packages/IPython/core/interactiveshell.py", line 3441, in run_code
    exec(code_obj, self.user_global_ns, self.user_ns)
  File "<ipython-input-49-5de320fd2797>", line 1, in <module>
    ratio = areas_with_cases['cases'] / areas_with_cases['square miles']
  File "/opt/conda/lib/python3.8/site-packages/pandas/core/ops/common.py", line 65, in new_method
    return method(self, other)
  File "/opt/conda/lib/python3.8/site-packages/pandas/core/arraylike.py", line 113, in __truediv__
    return self._arith_method(other, operator.truediv)
  File "/opt/conda/lib/python3.8/site-packages/pandas/core/series.py", line 4998, in _arith_method
    result = ops.arithmetic_op(lvalues, rvalues, op)
  File "/opt/conda/lib/python3.8/site-packages/pandas/core/ops/array_ops.py", line 189, in arithmetic_op
    res_values = _na_arithmetic_op(lvalues, rvalues, op)
  File "/opt/conda/lib/python3.8/site-packages/pandas/core/ops/array_ops.py", line 149, in _na_arithmetic_op
    result = _masked_arith_op(left, right, op)
  File "/opt/conda/lib/python3.8/site-packages/pandas/core/ops/array_ops.py", line 91, in _masked_arith_op
    result[mask] = op(xrav[mask], yrav[mask])
TypeError: unsupported operand type(s) for /: 'int' and 'str'

During handling of the above exception, another exception occurred:

Traceback (most recent call last):
  File "/opt/conda/lib/python3.8/site-packages/IPython/core/interactiveshell.py", line 2061, in showtraceback
    stb = value._render_traceback_()
AttributeError: 'TypeError' object has no attribute '_render_traceback_'

During handling of the above exception, another exception occurred:

Traceback (most recent call last):
  File "/opt/conda/lib/python3.8/site-packages/IPython/core/interactiveshell.py", line 3361, in run_ast_nodes
    if (await self.run_code(code, result,  async_=asy)):
  File "/opt/conda/lib/python3.8/site-packages/IPython/core/interactiveshell.py", line 3458, in run_code
    self.showtraceback(running_compiled_code=True)
  File "/opt/conda/lib/python3.8/site-packages/IPython/core/interactiveshell.py", line 2063, in showtraceback
    stb = self.InteractiveTB.structured_traceback(etype,
  File "/opt/conda/lib/python3.8/site-packages/IPython/core/ultratb.py", line 1367, in structured_traceback
    return FormattedTB.structured_traceback(
  File "/opt/conda/lib/python3.8/site-packages/IPython/core/ultratb.py", line 1267, in structured_traceback
    return VerboseTB.structured_traceback(
  File "/opt/conda/lib/python3.8/site-packages/IPython/core/ultratb.py", line 1124, in structured_traceback
    formatted_exception = self.format_exception_as_a_whole(etype, evalue, etb, number_of_lines_of_context,
  File "/opt/conda/lib/python3.8/site-packages/IPython/core/ultratb.py", line 1082, in format_exception_as_a_whole
    last_unique, recursion_repeat = find_recursion(orig_etype, evalue, records)
  File "/opt/conda/lib/python3.8/site-packages/IPython/core/ultratb.py", line 382, in find_recursion
    return len(records), 0
TypeError: object of type 'NoneType' has no len()

During handling of the above exception, another exception occurred:

Traceback (most recent call last):
  File "/opt/conda/lib/python3.8/site-packages/IPython/core/interactiveshell.py", line 2061, in showtraceback
    stb = value._render_traceback_()
AttributeError: 'TypeError' object has no attribute '_render_traceback_'

During handling of the above exception, another exception occurred:

Traceback (most recent call last):
  File "/opt/conda/lib/python3.8/site-packages/IPython/core/interactiveshell.py", line 2944, in _run_cell
    return runner(coro)
  File "/opt/conda/lib/python3.8/site-packages/IPython/core/async_helpers.py", line 68, in _pseudo_sync_runner
    coro.send(None)
  File "/opt/conda/lib/python3.8/site-packages/IPython/core/interactiveshell.py", line 3169, in run_cell_async
    has_raised = await self.run_ast_nodes(code_ast.body, cell_name,
  File "/opt/conda/lib/python3.8/site-packages/IPython/core/interactiveshell.py", line 3380, in run_ast_nodes
    self.showtraceback()
  File "/opt/conda/lib/python3.8/site-packages/IPython/core/interactiveshell.py", line 2063, in showtraceback
    stb = self.InteractiveTB.structured_traceback(etype,
  File "/opt/conda/lib/python3.8/site-packages/IPython/core/ultratb.py", line 1367, in structured_traceback
    return FormattedTB.structured_traceback(
  File "/opt/conda/lib/python3.8/site-packages/IPython/core/ultratb.py", line 1267, in structured_traceback
    return VerboseTB.structured_traceback(
  File "/opt/conda/lib/python3.8/site-packages/IPython/core/ultratb.py", line 1142, in structured_traceback
    formatted_exceptions += self.format_exception_as_a_whole(etype, evalue, etb, lines_of_context,
  File "/opt/conda/lib/python3.8/site-packages/IPython/core/ultratb.py", line 1082, in format_exception_as_a_whole
    last_unique, recursion_repeat = find_recursion(orig_etype, evalue, records)
  File "/opt/conda/lib/python3.8/site-packages/IPython/core/ultratb.py", line 382, in find_recursion
    return len(records), 0
TypeError: object of type 'NoneType' has no len()

During handling of the above exception, another exception occurred:

Traceback (most recent call last):
  File "/opt/conda/lib/python3.8/site-packages/IPython/core/interactiveshell.py", line 2061, in showtraceback
    stb = value._render_traceback_()
AttributeError: 'TypeError' object has no attribute '_render_traceback_'

During handling of the above exception, another exception occurred:

Traceback (most recent call last):
  File "/opt/conda/lib/python3.8/site-packages/IPython/core/ultratb.py", line 1101, in get_records
    return _fixed_getinnerframes(etb, number_of_lines_of_context, tb_offset)
  File "/opt/conda/lib/python3.8/site-packages/IPython/core/ultratb.py", line 248, in wrapped
    return f(*args, **kwargs)
  File "/opt/conda/lib/python3.8/site-packages/IPython/core/ultratb.py", line 281, in _fixed_getinnerframes
    records = fix_frame_records_filenames(inspect.getinnerframes(etb, context))
  File "/opt/conda/lib/python3.8/inspect.py", line 1515, in getinnerframes
    frameinfo = (tb.tb_frame,) + getframeinfo(tb, context)
  File "/opt/conda/lib/python3.8/inspect.py", line 1473, in getframeinfo
    filename = getsourcefile(frame) or getfile(frame)
  File "/opt/conda/lib/python3.8/inspect.py", line 708, in getsourcefile
    if getattr(getmodule(object, filename), '__loader__', None) is not None:
  File "/opt/conda/lib/python3.8/inspect.py", line 737, in getmodule
    file = getabsfile(object, _filename)
  File "/opt/conda/lib/python3.8/inspect.py", line 721, in getabsfile
    return os.path.normcase(os.path.abspath(_filename))
  File "/opt/conda/lib/python3.8/posixpath.py", line 379, in abspath
    cwd = os.getcwd()
FileNotFoundError: [Errno 2] No such file or directory