In [1]:
import pandas as pd
import numpy as np
# by default, pandas only shows the beginning and end of a large dataframe
# You can choose how many rows and columns to show.
# If you want to see all of the rows, set the respective value to None
pd.options.display.max_rows = 100 
pd.options.display.max_columns = 50

In [5]:
# URL for data hosted online
cases_url = 'https://raw.githubusercontent.com/nytimes/covid-19-data/master/us-states.csv' 
cases_df = pd.read_csv(cases_url, index_col='date') # create a dataframe from a csv, set the column titled "Index" as the row labels

In [8]:
# URL for data hosted online
areas_url = 'https://raw.githubusercontent.com/bwsi-remote-sensing-2021/group3_pandasproject/main/stateareas2010.csv' 
areas_df = pd.read_csv(areas_url, index_col='state') # create a dataframe from a csv, set the column titled "Index" as the row labels

In [10]:
cases_df

                    state  fips   cases  deaths
date
2020-01-21     Washington    53       1       0
2020-01-22     Washington    53       1       0
2020-01-23     Washington    53       1       0
2020-01-24       Illinois    17       1       0
2020-01-24     Washington    53       1       0
...                   ...   ...     ...     ...
2021-07-09       Virginia    51  682147   11448
2021-07-09     Washington    53  457092    6050
2021-07-09  West Virginia    54  164465    2908
2021-07-09      Wisconsin    55  678815    8182
2021-07-09        Wyoming    56   62966     751

[27184 rows x 4 columns]

In [11]:
areas_df

                     square miles  square kilometers
state
Alabama                    52,420            135,767
Alaska                    665,384          1,723,337
Arizona                   113,990            295,234
Arkansas                   53,179            137,732
California                163,695            423,967
Colorado                  104,094            269,601
Connecticut                 5,543             14,357
Delaware                    2,489              6,446
District of Columbia           68                177
Florida                    65,758            170,312
Georgia                    59,425            153,910
Hawaii                     10,932             28,313
Idaho                      83,569            216,443
Illinois                   57,914            149,995
Indiana                    36,420             94,326
Iowa                       56,273            145,746
Kansas                     82,278            213,100
Kentucky                   40,408            104,656
Louisiana                  52,378            135,659
Maine                      35,380             91,633
Maryland                   12,406             32,131
Massachusetts              10,554             27,336
Michigan                   96,714            250,487
Minnesota                  86,936            225,163
Mississippi                48,432            125,438
Missouri                   69,707            180,540
Montana                   147,040            380,831
Nebraska                   77,348            200,330
Nevada                    110,572            286,380
New Hampshire               9,349             24,214
New Jersey                  8,723             22,591
New Mexico                121,590            314,917
New York                   54,555            141,297
North Carolina             53,819            139,391
North Dakota               70,698            183,108
Ohio                       44,826            116,098
Oklahoma                   69,899            181,037
Oregon                     98,379            254,799
Pennsylvania               46,054            119,280
Rhode Island                1,545              4,001
South Carolina             32,020             82,933
South Dakota               77,116            199,729
Tennessee                  42,144            109,153
Texas                     268,596            695,662
Utah                       84,897            219,882
Vermont                     9,616             24,906
Virginia                   42,775            110,787
Washington                 71,298            184,661
West Virginia              24,230             62,756
Wisconsin                  65,496            169,635
Wyoming                    97,813            253,335
Puerto Rico                 5,325             13,791