In [1]:
import pandas as pd
import numpy as np
# by default, pandas only shows the beginning and end of a large dataframe
# You can choose how many rows and columns to show.
# If you want to see all of the rows, set the respective value to None
pd.options.display.max_rows = 100 
pd.options.display.max_columns = 50

In [50]:
# URL for data hosted online
cases_url = 'https://raw.githubusercontent.com/nytimes/covid-19-data/master/us-states.csv' 
cases_df = pd.read_csv(cases_url, index_col='date') # create a dataframe from a csv, set the column titled "Index" as the row labels

In [51]:
# URL for data hosted online
areas_url = 'https://raw.githubusercontent.com/bwsi-remote-sensing-2021/group3_pandasproject/main/stateareas2010.csv' 
areas_df = pd.read_csv(areas_url, index_col='state') # create a dataframe from a csv, set the column titled "Index" as the row labels

In [52]:
cases_df

                    state  fips   cases  deaths
date
2020-01-21     Washington    53       1       0
2020-01-22     Washington    53       1       0
2020-01-23     Washington    53       1       0
2020-01-24       Illinois    17       1       0
2020-01-24     Washington    53       1       0
...                   ...   ...     ...     ...
2021-07-10       Virginia    51  682433   11450
2021-07-10     Washington    53  457092    6050
2021-07-10  West Virginia    54  164465    2908
2021-07-10      Wisconsin    55  678815    8182
2021-07-10        Wyoming    56   62966     751

[27239 rows x 4 columns]

In [61]:
cases_df = cases_df.sort_values('date', ascending=False)
cases_df = cases_df[(cases_df.state != 'Virgin Islands') & (cases_df.state != 'Northern Mariana Islands')\
                    & (cases_df.state != 'Guam')]
cases_df = cases_df.head(52)
cases_df

                           state  fips    cases  deaths
date
2021-07-10               Wyoming    56    62966     751
2021-07-10               Montana    30   114348    1673
2021-07-10                 Texas    48  3010721   52768
2021-07-10              Illinois    17  1399525   25755
2021-07-10              Nebraska    31   225171    2524
2021-07-10           Puerto Rico    72   174237    2554
2021-07-10                Nevada    32   338072    5720
2021-07-10         West Virginia    54   164465    2908
2021-07-10            Washington    53   457092    6050
2021-07-10              Virginia    51   682433   11450
2021-07-10               Vermont    50    24457     258
2021-07-10                  Utah    49   419047    2393
2021-07-10             Tennessee    47   856874   12508
2021-07-10              New York    36  2117754   53149
2021-07-10          South Dakota    46   124641    2039
2021-07-10        South Carolina    45   598918    9846
2021-07-10          Rhode Island    44   152729    2730
2021-07-10             Wisconsin    55   678815    8182
2021-07-10          Pennsylvania    42  1218500   27786
2021-07-10          North Dakota    38   110879    1563
2021-07-10         New Hampshire    33    99708    1375
2021-07-10            New Jersey    34  1025788   26501
2021-07-10            New Mexico    35   206252    4356
2021-07-10        North Carolina    37  1018556   13496
2021-07-10              Missouri    29   647448   10016
2021-07-10               Alabama     1   554605   11402
2021-07-10                Alaska     2    71118     362
2021-07-10                  Iowa    19   374358    6149
2021-07-10               Indiana    18   760422   13914
2021-07-10           Mississippi    28   324057    7439
2021-07-10             Minnesota    27   606390    7715
2021-07-10              Michigan    26  1000336   21045
2021-07-10         Massachusetts    25   710830   18011
2021-07-10              Maryland    24   463324    9762
2021-07-10                 Maine    23    69219     862
2021-07-10             Louisiana    22   487558   10781
2021-07-10              Kentucky    21   467690    7301
2021-07-10                Kansas    20   321812    5208
2021-07-10                 Idaho    16   195910    2167
2021-07-10              Arkansas     5   355460    5948
2021-07-10               Arizona     4   900636   18029
2021-07-10                Hawaii    15    36934     518
2021-07-10               Georgia    13  1114789   20791
2021-07-10               Florida    12  2361360   38157
2021-07-10  District of Columbia    11    49455    1143
2021-07-10              Delaware    10   110019    1695
2021-07-10           Connecticut     9   349969    8279
2021-07-10              Colorado     8   565497    6994
2021-07-10            California     6  3833655   63482

In [62]:
areas_with_cases = cases_df.merge(areas_df, how='left',
                               left_on='state', right_index=True)
areas_with_cases = areas_with_cases.sort_values('cases',ascending=False)
areas_with_cases.set_index('state', inplace=True)
areas_with_cases

                      fips    cases  deaths  square miles   square kilometers
state
California               6  3833655   63482        163695              423967
Texas                   48  3010721   52768        268596              695662
Florida                 12  2361360   38157         65758              170312
New York                36  2117754   53149         54555              141297
Illinois                17  1399525   25755         57914              149995
Pennsylvania            42  1218500   27786         46054              119280
Georgia                 13  1114789   20791         59425              153910
New Jersey              34  1025788   26501          8723               22591
North Carolina          37  1018556   13496         53819              139391
Michigan                26  1000336   21045         96714              250487
Arizona                  4   900636   18029        113990              295234
Tennessee               47   856874   12508         42144              109153
Indiana                 18   760422   13914         36420               94326
Massachusetts           25   710830   18011         10554               27336
Virginia                51   682433   11450         42775              110787
Wisconsin               55   678815    8182         65496              169635
Missouri                29   647448   10016         69707              180540
Minnesota               27   606390    7715         86936              225163
South Carolina          45   598918    9846         32020               82933
Colorado                 8   565497    6994        104094              269601
Alabama                  1   554605   11402         52420              135767
Louisiana               22   487558   10781         52378              135659
Kentucky                21   467690    7301         40408              104656
Maryland                24   463324    9762         12406               32131
Washington              53   457092    6050         71298              184661
Utah                    49   419047    2393         84897              219882
Iowa                    19   374358    6149         56273              145746
Arkansas                 5   355460    5948         53179              137732
Connecticut              9   349969    8279          5543               14357
Nevada                  32   338072    5720        110572              286380
Mississippi             28   324057    7439         48432              125438
Kansas                  20   321812    5208         82278              213100
Nebraska                31   225171    2524         77348              200330
New Mexico              35   206252    4356        121590              314917
Idaho                   16   195910    2167         83569              216443
Puerto Rico             72   174237    2554          5325               13791
West Virginia           54   164465    2908         24230               62756
Rhode Island            44   152729    2730          1545                4001
South Dakota            46   124641    2039         77116              199729
Montana                 30   114348    1673        147040              380831
North Dakota            38   110879    1563         70698              183108
Delaware                10   110019    1695          2489                6446
New Hampshire           33    99708    1375          9349               24214
Alaska                   2    71118     362        665384             1723337
Maine                   23    69219     862         35380               91633
Wyoming                 56    62966     751         97813              253335
District of Columbia    11    49455    1143            68                 177
Hawaii                  15    36934     518         10932               28313
Vermont                 50    24457     258          9616               24906

In [64]:
# higher value means greater cases per square mile
ratio = areas_with_cases['cases'] / areas_with_cases['square miles']
ratio.sort_values(ascending=False, inplace=True)
ratio

state
District of Columbia    727.279412
New Jersey              117.595781
Rhode Island             98.853722
Massachusetts            67.351715
Connecticut              63.137110
Delaware                 44.202089
New York                 38.818697
Maryland                 37.346768
Florida                  35.909851
Puerto Rico              32.720563
Pennsylvania             26.458071
Illinois                 24.165573
California               23.419500
Indiana                  20.879242
Tennessee                20.332052
North Carolina           18.925584
Georgia                  18.759596
South Carolina           18.704497
Virginia                 15.954015
Kentucky                 11.574193
Texas                    11.209106
New Hampshire            10.665098
Alabama                  10.580027
Wisconsin                10.364221
Michigan                 10.343239
Louisiana                 9.308450
Missouri                  9.288135
Arizona                   7.901009
Minnesota                 6.975131
West Virginia             6.787660
Mississippi               6.690969
Arkansas                  6.684217
Iowa                      6.652533
Washington                6.411007
Colorado                  5.432561
Utah                      4.935946
Kansas                    3.911276
Hawaii                    3.378522
Nevada                    3.057483
Nebraska                  2.911142
Vermont                   2.543365
Idaho                     2.344290
Maine                     1.956444
New Mexico                1.696291
South Dakota              1.616279
North Dakota              1.568347
Montana                   0.777666
Wyoming                   0.643739
Alaska                    0.106883
dtype: float64